.overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  width: 500px;
  height: 750px;
  background-color: #fff;
  border-radius: 10px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #2b2b2b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.close:hover {
  background-color: #777;
}
