.modal {
  position: fixed;
  width: 500px;
  height: 750px;
  background-color: #fff;
  border-radius: 10px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #2b2b2b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.close:hover {
  background-color: #777;
}
